.main-title{
  text-align: center;
  margin: 20px;
}
.left-box{
  border: 3px solid #0d6efd;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.search-box{
  margin: 20px;
}
.item-box{
  border: 1.5px solid #3e8bffa7;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}